<footer>
  <div class="footer-contacts">
    <img src="../../../../../assets/viber-icon.png" alt="viber" />
    <a href="viber://chat?number=%2B+375295687898">Viber</a>
    <img src="../../../../../assets/velcom-icon.png" alt="telephone-number" />
    <a href="tel:+375295687898">+375 29 568 7898</a>
  </div>
  <div class="soc-nets">
    <div>
      <a href="https://instagram"
        ><img
          src="../../../../../assets/intsagram-icon.png"
          alt="instagram"
        />Instagram</a
      >
    </div>
    <div>
      <a href="https://twitter"
        ><img
          src="../../../../../assets/twitter-icon.png"
          alt="twitter"
        />Twitter</a
      >
    </div>
  </div>
</footer>
