$mobile-widths: "max-width: 767px";
$tablet-widths: "max-width: 1279px";
//--- Font-size...

$main-font-size: 14px;

$main-line-height: 20px;

//--- Font-colors...

$main-font-color: #545454;

$second-font-color: #ffffff;

$third-font-color: #cdcdcd;

//--- Btn-backgrounds...

$btn-bg-hover-color: #fddcc4;

$btn-bg-active-color: #1bc9f5;

$btn-bg: #f1cdb3;

//--- Main-backgrounds...

$body-bg: #ffffff;

$background-color-1: #069bff;

$background-color-2: #ed4679;

$header-footer-background-color: #f7f8fa;

//--- Border colors...

$main-border-color: #2d2d2d;

$disabled-border: #cdcdcd;

//--- Animation...

$card-background: #9eaab3;
