<main>
  <app-slider></app-slider>
  <div>
    <h2>Описание приложения:</h2>
    <p>
      В моём приложении вы сможете купить не только холодильник или
      микроволновку по акции, но и самые нужные и раритетные вещи. Также вас
      ожидает юзер френдли управление и работа контакт-центра круглосуточно.
      Вообщем приглашаю вас в незабываемое путешествие!
    </p>
  </div>
  <div>
    <h2>Видео работы приложения:</h2>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/PpTqzVGPLQY"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</main>
